In [2]:
#Q1 print numbers from 1 from 10 usig loop 
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [3]:
#Q2 print from 10 to 1
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [4]:
#Q3 print even no from 1,50
for i in range(0,50,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [7]:
#Q4 print the table of 7
for i in range (7,71,7):
    print(i)

7
14
21
28
35
42
49
56
63
70

In [ ]:
#Q5 print sum of n natural numbers
n = 10
res = 0
for i in range(1,n+1,1):
    res += i
print(res)

55

In [3]:
#Q6 print factorial of any number
n = 5
fact = 1

for i in range(1,n+1):
    fact = i*fact
print(fact)

120

In [27]:
#Q7 Count number of digits in python
n = 1023230
count = 0
while(n):
    count+=1
    n = n//10
print(count)

7